<!doctype html>
<html lang="en">

<head>

    <title>Psara</title>

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One|Libre+Baskerville:400,400i|Roboto+Slab:300,400"
        rel="stylesheet">

    {{!-- styling adapted from http://www.csszengarden.com/214/ --}}
    <link href="/myStyles.css" rel="stylesheet">
    {{!-- Links to implement Froala editor functionality --}}
    <!-- Include external CSS. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

    <!-- Include Editor style. -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />
    <link href="../lib/video.min.js" rel="stylesheet" type="text/css" />
</head>

<body>

    <div class="container">

        <div class="row">
            <div class="col-md-12 col-sm-12">
                {{{body}}}
            </div>
        </div>

</body>

</html>